<nav class="flex flex-wrap lg:flex-nowrap items-end mt-8 md:mt-10 mb-16 xl:mb-24 pb-10 md:pb-18 xl:pb-20 border-b-2 border-black-muted border-opacity-90">

    <h1 class="uppercase md:-mb-2 xl:-mb-3">
        <span class="block italic font-medium">Richard</span>
        <span class="block">Campen</span>
    </h1>

    <ul class="ml-auto mt-8 md:mt-10 flex uppercase">
        {{ nav_link("about", "about") }}
        {{ nav_link("software", "software") }}
        {{ nav_link("publications", "publications") }}
    </ul>

</nav>

