# Project dev files
.idea
.vagrant

# log files
*.log

# secrets
ansible/vault_passwords/*

# pycache files
__pycache__/

# python C files
*.pyc

# keep these!
!.keep

# hide secret local settings
local.py
