[submodule "ansible/roles/ubuntu"]
	path = ansible/roles/ubuntu
	url = git@github.com:campenr/ansible-role-ubuntu.git
[submodule "ansible/roles/security"]
	path = ansible/roles/security
	url = git@github.com:campenr/ansible-role-security.git
[submodule "ansible/roles/python"]
	path = ansible/roles/python
	url = git@github.com:campenr/ansible-role-python.git
[submodule "config"]
	path = config
	url = git@github.com:campenr/campen.co_config.git
