# Project dev files
.idea

# python C files
*.pyc

# log files
*.log

# venv files
/venv
/venvb

# node things
*node_modules/

# vagrant things
.vagrant/

# secrets
*config/

# other things
*/pycache*

# Allow the log directory
!/logs/*