html {
    font-family:sans-serif;
}

*{
	margin: 0 auto;
	padding: 0;
}

body {
    #font: 11px/20px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
	text-align: center;
}	

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, main, article, figure {
    display: block;
}

header{
	height: 85px;
	padding: 15px
}

nav ul li {
    display: inline-block;
	letter-spacing: 0.05em;
    width: auto;
    font-size: 1.4em;
    line-height:55px;
}
 
nav ul li a {
    text-decoration: none; 
	color: #D8D8D8;
	display: block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
 
nav ul li a:hover {
	background-color: #f0f0f0;
    color: #333333;
	text-decoration: none;
}
 
nav ul li.selected a {
    text-decoration: none;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1.4em;
    font-style: italic;
    margin:0.67em 0;
}
	
/*a*/.link {
	text-decoration: underline;
	color: #000000;
}

/*a*/.link:hover {
	text-decoration: none;
	color: #000000;
}

/*nav*/.nav{
    height:55px;
    background-color:#333333;
    color: #f0f0f0;
    margin:0 auto;
    z-index:1;
}

.nav-icon {
    position: absolute;
    padding: 7px 40px;
}

/*nav*/.nav ul{
    list-style: none;
}

/*nav*/.fixed-header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.section--anchor {
    padding-bottom:25px;
}

/*main*/.main-content {
    top: 115;
    width: 100%;
    min-height: 75vh;
    padding: 0;
    justify-content: center;
}

/*section*/.section {
    visibility: hidden;
    position: absolute;
	padding: 70px;
	width: 100wh;
	height: 0px;
    justify-content: center;
}

/*section*/.section--display {
    visibility: visible;
}

/*section*/.nav--buffer {
    top: 115;
}

/*div*/.section--inner {
    margin: 0 auto;
    max-width: 85%;
}

/*div*/.section--inner p {
    margin:0.67em 0.1em;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
}

/*footer*/.footer {
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.75em
}
