html {
    font-family:sans-serif;
}

*{
	margin: 0 auto;
	padding: 0;
}

html, body {
    height: 100%        /* Necessary for correct footer placement */
}

body {
    background: #fafafa;
	text-align: center;
}	

/* Tell the browser to render HTML 5 elements as block */
header, nav, main, footer, section {
    display: block;
}

header{
	height: 85px;
	padding: 15px
}

h1 {
    font-family: Georgia, serif;
    font-size: 1.4em;
    font-style: italic;
    /*margin:0.67em 0;*/
}

/*a*/.link {
	text-decoration: underline;
	color: #000000;
}

/*a*/.link:hover {
	text-decoration: none;
	color: #000000;
}

/*nav*/.nav{
    height:55px;
    background-color: #333333;
    color: #f0f0f0;
    z-index:1;
}

/*div*/.nav-buffer {
    height: 55px;
    visibility: hidden;
}

/*nav*/.nav ul{
    list-style: none;
}

/*nav*/.fixed-header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

nav ul li {
    display: inline-block;
	letter-spacing: 0.05em;
    width: auto;
    font-size: 1.4em;
    line-height:55px;
}

nav ul li a {
    text-decoration: none;
	color: #D8D8D8;
	display: block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

nav ul li a:hover {
	background-color: #f0f0f0;
    color: #333333;
	text-decoration: none;
}

nav ul li.selected a {
    text-decoration: none;
}

/*div*/.nav-icon {
    position: absolute;
    padding: 7px 40px;
}

/*div*/.main-wrapper {
    min-height: 100%;
}

/*div*/.main-content-wrapper {
    overflow: auto;
    padding-bottom: 45px;
}

/*main*/.main-content {
    top: 115;
    width: 100%;
    padding: 0;

}

/*section*/.section {
	width: 100%;
	visibility: hidden;
}

/*section*/.section--display {
    visibility: visible;
}

/*div*/.section--header {
    padding-top: 1%;
    padding-bottom: 1%;
}

/*div*/.section--inner {
    width: 80%;
}

/*div*/.section--inner p {
    /*margin:0.67em 0.1em;*/
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
}

/*footer*/.footer {

    position: relative;
	margin-top: -45px; /* Subtract footer and header heights */
    height: 45px;
	clear: both;
}

/*div*/.footer-content {
    font-size: 0.85em;
    padding-bottom: 5px;
}

/*p*/.version {
    font-size: 0.75em;
    padding: 5px;
}
