{% extends "base.html" %}

{% from "macros.html" import page_heading %}

{% block title_suffix %}| About{% endblock %}

{% block main_content %}

    <div class="main-section">
        <div class="section">

            <h2>Hi!&nbsp;&nbsp;👋</h2>

            <p>
                I’m Richard Campen.
            </p>

            <p>
                I spend my days working as a web developer (mostly Python/Django + js), and building/maintaining infrastructure, automating as much as I can (Ansible, AWS infrastructure as code, Docker, Vagrant).
            </p>

            <p>
                In a past life I was a microbiologist / bioinformatician, with a PhD in molecular Microbiology, generating, processing, and analyzing large biological datasets.
            </p>

            <p>
                This website is a central repository of content I have created or contributed to.
            </p>

        </div>
    </div>

{% endblock %}
