{% extends "base.html" %}

{% from "macros.html" import page_heading %}

{% block title_suffix %}| About{% endblock %}

{% block content_aria_label %}about{% endblock %}

{% block content %}

    <div class="block-wrapper">
        <div class="block-inner">

            <h1>Hi!&nbsp;&nbsp;👋</h1>

            <p>
                I’m Richard Campen.
            </p>

            <p>
                I spend my days working as a web developer (mostly Python/Django + js), and building/maintaining infrastructure (AWS, gcloud), automating as much as I can (Terraform, Ansible, Docker).
            </p>

            <p>
                In a past life I was a microbiologist / bioinformatician, with a PhD in molecular Microbiology, generating, processing, and analyzing large biological datasets.
            </p>

            <p>
                This website is a central repository of content I have created or contributed to.
            </p>

        </div>
    </div>

{% endblock %}
