{% from "macros.html" import nav_link, webpack_watch_livereload with context %}

<!DOCTYPE html>
<html lang="en-nz">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Richard Campen {% block title_suffix %}{% endblock %}</title>

        <meta name="description" content="Full stack web dev. DevOps / infrastructure. Automation. Ex microbiologist / bioinformatician."/>

        <meta property="og:url" content="https://richardcampen.com/">
        <meta property="og:title" content="Richard Campen">
        <meta property="og:description" content="Full stack web dev. DevOps / infrastructure. Automation. Ex microbiologist / bioinformatician.">
        <meta property="og:site_name" content="richardcampen.com">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://richardcampen.com{{ url_for('static', filename='img/headshot_300px.png') }}">

        <meta name="twitter:site" content="https://richardcampen.com">
        <meta name="twitter:description" content="Full stack web dev. DevOps / infrastructure. Automation. Ex microbiologist / bioinformatician.">
        <meta name="twitter:image" content="https://richardcampen.com{{ url_for('static', filename='img/headshot_300px.png') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ static_chunk('main.css') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;0,700;0,900;1,500&display=swap" rel="stylesheet">

        {% block head %}
            {# page specific head_content goes here. #}
        {% endblock %}

    </head>

    <body class="px-6 md:px-10 lg:px-12 xl:px-16">

        {% include 'partials/header.html' %}

        <div class="main">
            <div class="my-16 md:my-0">
                {% include 'partials/info_panel.html' %}
            </div>
            <div class="sm:grid grid-cols-10">
                <div class="col-start-2 col-end-10 lg:col-start-3 xl:col-end-9 2xl:col-end-8">
                    {% block main_content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% include 'partials/footer.html' %}

        {# load js #}
        <script src="{{ static_chunk('main.js') }}"></script>
        <script src="{{ static_chunk('vendors~main.js') }}"></script>
        {{ webpack_watch_livereload() }}

    </body>
</html>
