{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Richard Campen</title>

    <meta name="description" content="Hi, My name is Richard Campen. I am a python developer with a PhD in Molecular Microbiology, and this is my site."/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ static_chunk('main.css') | safe }}" />

    {% block head %}
        {# Site/App specific head_content goes here. #}
    {% endblock %}

</head>

<body class="main-wrapper" style="background-color: #fcfcfc;">

    <div class="container d-none d-sm-block" style="text-align: center;">
        {# Hidden at small sizes and replaced with Navbar branding #}
        <p class="display-4 pt-3 pb-2">Richard Campen</p>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #fcfcfc !important;">

        <span class="text-center mx-auto d-sm-none" style="font-size: 2rem; color: #444444; font-weight: lighter; width: 60%;">Richard Campen</span>

        <div class="position-absolute" style="top: 14px; right: 16px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    {{ nav_link("index", "about") }}
                </li>
                <li class="nav-item">
                    {{ nav_link("software", "software") }}
                </li>
                <li class="nav-item">
                    {{ nav_link("publications", "publications") }}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container main-content">
        <div class="row">
            <div class="col-8 mx-auto" style="text-align: center;">
                <hr/>
                {% block main_content %}
                    {# page specific main content fills in here. #}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="footer pb-1 pt-3 text-center">
        <p id='copyright'>
            <small>
                Copyright &#169 <span id="copyright-year"></span> <a href="https://richardcampen.com">Richard Campen</a>
            </small>
        </p>
    </div>

    {# load js #}
    <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-67087023-1']);_gaq.push(['_trackPageview']);(function(){var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>

    <script src="{{ static_chunk('main.js') | safe }}"></script>
    <script src="{{ static_chunk('vendors~main.js') | safe }}"></script>

</body>
</html>