{% from "macros.html" import nav_link, webpack_watch_livereload with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Richard Campen</title>

    <meta name="description" content="Hi, My name is Richard Campen. I am a python developer with a PhD in Molecular Microbiology, and this is my site."/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ static_chunk('main.css') | safe }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67087023-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-67087023-1');
    </script>

    {% block head %}
        {# Site/App specific head_content goes here. #}
    {% endblock %}

</head>

<body class="main-wrapper " style="background-color: #fcfcfc;">

    {% include 'partials/header.html' %}

    <div class="container main-content">
        <div class="row">
            <div class="col-8 mx-auto" style="text-align: center;">
                <hr/>
                {% block main_content %}
                    {# page specific main content fills in here. #}
                {% endblock %}
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

    {# load js #}
    <script src="{{ static_chunk('main.js') | safe }}"></script>
    <script src="{{ static_chunk('vendors~main.js') | safe }}"></script>
    {{ webpack_watch_livereload() }}

</body>
</html>