{% extends "base.html" %}

{% from "macros.html" import bold_link, link_icon %}

{% block title_suffix %}| Software{% endblock %}

{% block content_aria_label %}software{% endblock %}

{% block content %}

    <section class="section" aria-labelledby="web-apps-heading">

        <h1 id="web-apps-heading">Websites / Web Apps</h1>

        <div class="sub-section" aria-labelledby="richardcampen-website-heading">

            <a href="https://richardcampen.com" target="_blank" rel="nooperner noreferrer">
                <h2 id="richardcampen-website-heading">richardcampen.com</h2>
            </a>

            <p>
                My personal website (the one you're on now!) run on Python 3, the Flask microframework, Tailwind CSS, and Webpack.
            </p>

            <p>
                {{ link_icon() }}
                <span class="text-nowrap">[
                    <a href="https://github.com/campenr/richardcampen.com" target= "_blank" rel="nooperner noreferrer" >
                        GitHub
                    </a>
                ]</span>
            </p>
        </div>

        <div class="sub-section" aria-labelledby="link-shortener-website-heading">

            <a href="https://links.campen.co" target="_blank" rel="nooperner noreferrer">
                <h2 id="link-shortener-website-heading">links.campen.co</h2>
            </a>

            <p>
                A web app for creating / managing short URLs. Run on Python 3, the Flask microframework, Bootstrap 3,
                Webpack, Google OAuth2, PostgreSQL, and jQuery Datatables.
            </p>

            <p>
                {{ link_icon() }}
                <span class="text-nowrap">[
                    <a href="https://github.com/campenr/links.campen.co" target= "_blank" rel="nooperner noreferrer" >
                        GitHub
                    </a>
                ]</span>
            </p>
        </div>

    </section>

    <section class="section" aria-labelledby="python-packages-heading">

        <h1 id="python-packages-heading">Python Packages</h1>

        <div class="sub-section" aria-labelledby="mothur-py-heading">

            <a href="https://github.com/campenr/mothur-py" target="_blank" rel="nooperner noreferrer">
                <h2 id="mothur-py-heading">mothur-py</h2>
            </a>

            <p>
                A python wrapper for the command line bioinformatics tool mothur.
            </p>

            <p>
                {{ link_icon() }}
                <span class="text-nowrap">[
                    <a class="link" target= "_blank" rel="nooperner noreferrer" href="https://pypi.python.org/pypi/mothur-py">PyPI</a>
                ]</span>
                <span class="text-nowrap">[
                    <a class="link" target= "_blank" rel="nooperner noreferrer" href="https://github.com/campenr/mothur-py">GitHub</a>
                ]</span>
            </p>
        </div>

        <div class="sub-section" aria-labelledby="seq-experiment-heading">

            <a href="https://github.com/campenr/seq-experiment" target="_blank" rel="nooperner noreferrer">
                <h2 id="seq-experiment-heading">seq-experiment</h2>
            </a>

            <p>
                Provides a data structure for easy manipulation of abundance, classification, and metadata generated for
                and by analysis of next-gen sequence data.
            </p>

            <p>
                {{ link_icon() }}
                <span class="text-nowrap">[
                    <a class="link" target= "_blank" rel="nooperner noreferrer" href="https://pypi.python.org/pypi/seq-experiment">PyPI</a>
                ]</span>
                <span class="text-nowrap">[
                    <a class="link" target= "_blank" rel="nooperner noreferrer" href="https://github.com/campenr/seq-experiment">GitHub</a>
                ]</span>
            </p>
        </div>

        <div class="sub-section" aria-labelledby="dirbrowser-heading">

            <a href="https://github.com/campenr/dirbrowser" target="_blank" rel="nooperner noreferrer">
                <h2 id="dirbrowser-heading">dirbrowser</h2>
            </a>

            <p>
                Enables basic directory browsing functionality in a command line environment.
                Also, my first ever Python package 🎉
            </p>

            <p>
                {{ link_icon() }}
                <span class="text-nowrap">[
                    <a class="link" target= "_blank" rel="nooperner noreferrer" href="https://pypi.org/project/dirbrowser/">PyPI</a>
                ]</span>
                <span class="text-nowrap">[
                    <a class="link" target= "_blank" rel="nooperner noreferrer" href="https://github.com/campenr/dirbrowser">GitHub</a>
                ]</span>
            </p>
        </div>

    </section>

{% endblock %}
