{% extends "base.html" %}

{% block header_content %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# Insert page specific body here. #}

    <section class="section" id="section-0">
        <div class="section--inner">
            <div class="section--header">
                <h1>About</h1>
            </div>
            <p>
                My name is Richard Campen, I have a PhD in Molecular Microbiology,
                and an interest in coding and bioinformatics. This website is a
                central repository of content I have created or contributed to.
            </p>
            <br>
            <p>
                <a target= "_blank" href="https://nz.linkedin.com/pub/richard-campen/a8/846/b5b"><img src="https://static.campen.co/images/In-Black-34px-R.png" width="40px"></a>
                <a target= "_blank" href="https://github.com/campenr"><img src="https://static.campen.co/images/GitHub-Mark-32px.png" width="32px"></a>
            </p>
        </div>
    </section>

    <section class="section" id="section-1">
        <div class="section--inner">
            <div class="section--header">
                <h1>Publications</h1>
            </div>
            <p>
                <b>Campen, R. L.</b> (2015).
                Investigating the mode of action of tuberculosis drugs using hypersensitive mutants of Mycobacterium smegmatis.
                <br>
                <a class="link" target= "_blank" href="https://scholar.google.com/scholar?cluster=16756147971275072426&hl=en&as_sdt=0,46&as_ylo=2015">scholar.google.com</a>
                <a class="link" target= "_blank" href="http://researcharchive.vuw.ac.nz/handle/10063/4314" >researcharchive.vuw.ac.nz</a>
            </p>
                <br>
            <p>
                <b>Campen, R. L.,</b> Ackerley, D. F., Cook, G. M., & O'Toole, R. F. (2015).
                Development of a Mycobacterium smegmatis transposon mutant array for characterising the mechanism of
                action of tuberculosis drugs: Findings with isoniazid and its structural analogues. <i>Tuberculosis</i>.
                <br>
                <a class="link" target= "_blank" href="https://scholar.google.com/scholar?cluster=8693644610430880537&hl=en&as_sdt=0,46&as_ylo=2015">scholar.google.com</a>
                <a class="link" target= "_blank" href="http://www.sciencedirect.com/science/article/pii/S1472979215207494">sciencedirect.com</a>
            </p>
        </div>
    </section>

    <section class="section" id="section-2">
        <div class="section--inner">
            <div class="section--header">
                <h1>Software</h1>
            </div>
            <p>
                <b>LinkShortener</b> - A Flask based web application for creating/managing short links for for URLs.
                <br />
                <i>Latest release (1.0.0)</i> -
                <a class="link" target= "_blank" href="https://github.com/campenr/LinkShortener">github</a>
            </p>
            <br />
            <p>
                <b>dirbrowser</b> - a python 3 module that enables basic directory browsing functionality in a command line environment.
                <br />
                <i>Latest release (1.0b2)</i> -
                <a class="link" target= "_blank" href="/static/files/dirbrowser-1.0b2.zip" download="dirbrowser-1.0b2.zip">src</a>
            </p>
            <br />
            <p>
                <b>multiplate</b> - a python 3 package for processing data from multiplate readers.
                <br />
                <i>Latest release (0.1a2)</i> -
                <a class="link" target= "_blank" href="/static/files/multiplate-0.1a2.zip" download="multiplate-0.1a1.zip">src</a>
                <a class="link" target= "_blank" href="/static/files/multiplate-0.1a2-py3-none-any.whl" download="multiplate-0.1a2-py3-none-any.whl">whl</a>
            </p>
        </div>
    </section>

    {# Page specific script loadings. #}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
