{% extends "base.html" %}

{% block header_content %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# Insert page specific body here. #}

    <section class="section section-toggleable section-2" id="software">
        <div class="section-inner">
            <div class="section-header">
                <h1>Projects</h1>
            </div>
            <p>
                Coming Soon.
            </p>
        </div>
    </section>

    {# Page specific script loadings. #}


{% endblock %}
