{% extends "base.html" %}

{% block header_content %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# Insert page specific body here. #}

    <section class="section">
        <div class="section-inner">
            <div class="section-header">
                <h1>Publications</h1>
            </div>
            <p>
                <b>Campen, R. L.</b> (2015).
                Investigating the mode of action of tuberculosis drugs using hypersensitive mutants of Mycobacterium smegmatis.
                <br>
                <a class="link" target= "_blank" href="https://scholar.google.com/scholar?cluster=16756147971275072426&hl=en&as_sdt=0,46&as_ylo=2015">scholar.google.com</a>
                <a class="link" target= "_blank" href="http://researcharchive.vuw.ac.nz/handle/10063/4314" >researcharchive.vuw.ac.nz</a>
            </p>
                <br>
            <p>
                <b>Campen, R. L.,</b> Ackerley, D. F., Cook, G. M., & O'Toole, R. F. (2015).
                Development of a Mycobacterium smegmatis transposon mutant array for characterising the mechanism of
                action of tuberculosis drugs: Findings with isoniazid and its structural analogues. <i>Tuberculosis</i>.
                <br>
                <a class="link" target= "_blank" href="https://scholar.google.com/scholar?cluster=8693644610430880537&hl=en&as_sdt=0,46&as_ylo=2015">scholar.google.com</a>
                <a class="link" target= "_blank" href="http://www.sciencedirect.com/science/article/pii/S1472979215207494">sciencedirect.com</a>
            </p>
        </div>
    </section>

    {# Page specific script loadings. #}


{% endblock %}
