{% extends "base.html" %}

{% block head %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# Insert page specific body here. #}

    <section class="section">
        <div class="section-inner">
            <div class="section-header">
                <h1>About</h1>
            </div>
            <p>
                My name is Richard Campen, I have a PhD in Molecular Microbiology,
                and an interest in coding and bioinformatics. This website is a
                central repository of content I have created or contributed to.
            </p>
            <br>
            <p>
                <a target= "_blank" href="https://nz.linkedin.com/pub/richard-campen/a8/846/b5b"><img src="https://static.campen.co/images/In-Black-34px-R.png" width="40px"></a>
                <a target= "_blank" href="https://github.com/campenr"><img src="https://static.campen.co/images/GitHub-Mark-32px.png" width="32px"></a>
            </p>
        </div>
    </section>

    {# Page specific script loadings. #}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
