{% extends "base.html" %}

{% block head %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# NOTE: This content is wrapped in a bootstrap container #}
    {# Insert page specific body here. #}

    <div class="pt-3 pb-1">
        <h3 class="pt-2">About Me</h3>
    </div>

    <p class="pt-3 pb-2 px-3">
        <img class="rounded-circle" src="{{ url_for('static', filename='img/headshot.png') }}" style="max-width: 150px; height: 150px;">
    </p>

    <p class="pt-3 pb-2 px-3">
        My name is Richard Campen, I have a PhD in Molecular Microbiology,
        and an interest in coding and bioinformatics. This website is a
        central repository of content I have created or contributed to.
    </p>
    <br>
    <p>
        <a class="px-1" target= "_blank" href="https://github.com/campenr">
            <img src="{{ url_for('static', filename='img/GitHub-Mark-32px.png') }}">
        </a>
        <a class="px-1" target= "_blank" href="https://nz.linkedin.com/pub/richard-campen/a8/846/b5b">
            <img src="{{ url_for('static', filename='img/In-Black-34px-R.png') }}">
        </a>
    </p>

{% endblock %}
