{% extends "base.html" %}

{% block head %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# NOTE: This content is wrapped in a bootstrap container #}
    {# Insert page specific body here. #}

    <div class="pt-3 pb-1">
        <h3 class="pt-2">Publications</h3>
    </div>

    <p class="pt-3 pb-2 px-3">
        <b>Campen, R. L.</b> (2015).
        Investigating the mode of action of tuberculosis drugs using hypersensitive mutants of Mycobacterium smegmatis.
        <br>
        <span class="text-nowrap">[
            <a target= "_blank" href="https://scholar.google.com/scholar?cluster=16756147971275072426&hl=en&as_sdt=0,46&as_ylo=2015">
                scholar.google.com
            </a>
        ]</span>
        <span class="text-nowrap">[
            <a target= "_blank" href="http://researcharchive.vuw.ac.nz/handle/10063/4314" >
                researcharchive.vuw.ac.nz
            </a>
        ]</span>
    </p>

    <p class="pt-3 pb-2 px-3">
        <b>Campen, R. L.,</b> Ackerley, D. F., Cook, G. M., & O'Toole, R. F. (2015).
        Development of a Mycobacterium smegmatis transposon mutant array for characterising the mechanism of
        action of tuberculosis drugs: Findings with isoniazid and its structural analogues. <i>Tuberculosis</i>.
        <br>
        <span class="text-nowrap">[
            <a class="link" target= "_blank" href="https://scholar.google.com/scholar?cluster=8693644610430880537&hl=en&as_sdt=0,46&as_ylo=2015">
                scholar.google.com
            </a>
        ]</span>
        <span class="text-nowrap">[
            <a class="link" target= "_blank" href="http://www.sciencedirect.com/science/article/pii/S1472979215207494">
                sciencedirect.com
            </a>
        ]</span>
    </p>

    {# Page specific script loadings. #}


{% endblock %}
