{% extends "base.html" %}

{% block head %}
    {# Page specific header content goes here. #}
{% endblock %}

{% block main_content %}
    {# NOTE: This content is wrapped in a bootstrap container #}
    {# Insert page specific body here. #}

    <div class="pt-3 pb-1">
        <h3 class="pt-2">Software</h3>
    </div>

    <p class="pt-3 pb-2 px-3">
        <b>LinkShortener</b> - A Flask based web application for creating/managing short links for for URLs.
        <br />
        <i>Latest release (0.4.0)</i> -
        <span class="text-nowrap">[
            <a class="link" target= "_blank" href="https://github.com/campenr/LinkShortener">github</a>
        ]</span>
    </p>

    <p class="pt-3 pb-2 px-3">
        <b>dirbrowser</b> - a python 3 module that enables basic directory browsing functionality in a command line environment.
        <br />
        <i>Latest release (1.0b2)</i> -
        <span class="text-nowrap">[
            <a class="link" target= "_blank" href="https://github.com/campenr/dirbrowser">github</a>
        ]</span>
    </p>

    <p class="pt-3 pb-2 px-3">
        <b>multiplate</b> - a python 3 package for processing data from multiplate readers.
        <br />
        <i>Latest release (0.1a2)</i> -
        <span class="text-nowrap">[
            <a class="link" target= "_blank" href="https://github.com/campenr/multiplate">github</a>
        ]</span>
    </p>

    {# Page specific script loadings. #}


{% endblock %}
